.home-container{
    min-height: calc(100vh - 170px);
    padding: 5vh;
}

.category-card-container:hover {
    cursor: pointer;
  }

  .noUnderline {
    text-decoration: none;
  }

  .product-container{
    flex-wrap: wrap;
    justify-content: center;
  }