.container-cart{
    min-height: calc(100vh - 18vh);
}

.empty-cart{
    color:darkgrey;
    font-weight: normal;
}

.price-box{
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 220px;
}

.empty-cart-card{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 156px ;
    justify-content: center;
}