.inputText {
    width: 35px;
    text-align: center;
    margin: 0 5px 0 5px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.quantityButton {
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.quantityButton:focus {
    outline: none;
}

.quantityButton:hover {
    background-color: #ccc;
}

.quantityButton:active {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}