.cardProduct{
    display: flex;
    width: 700px;
    height: 100px;
    align-items: center;
    border: 1px solid black;
    transition: transform 0.3s ease;
    margin: 10px;
    padding:20px
}

.cardImage{
    width: 200px;
    background-size: cover;
    background-position: center;
}

.imageContainer{
    width:200px
}

.noUnderline {
    text-decoration: none;
    font-weight:bold
  }