.cardProduct{
    display: flex;
    width: 620px;
    height: 150px;
    align-items: center;
    border: 1px solid black;
    transition: transform 0.3s ease;
    padding:40px;
    margin-bottom: 20px;
}

.cardImage{
    width: 200px;
    background-size: cover;
    background-position: center;
}

.imageContainer{
    width:200px;
    margin-right: 20px;
}

.noUnderline {
    text-decoration: none;
    font-weight:bold
  }